    </main>
    <footer>
        <p>Resources Used: <br> - ChatGPT: Debugging, Folder Structure, Sample Recipes <br> - W3Schools: Reference Code</p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>