<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= page_title || "My Recipe Site" %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/recipes">Recipes</a>
            <a href="/recipes/add">Add Recipe</a>
        </nav>
    </header>
    <main>