<%- include('../partials/head') %>

<h2>Welcome to My Recipe Site!</h2>
<p>I grew up cooking tiramisu with my mom, and it has been my favorite dessert ever since. I love experimenting with new recipes and exploring different flavors. Cooking has given me a sense of creativity and satisfaction, though I do not love cooking dishes with meat.
     Even though I understand food safety, handling meat still makes me a little nervous because of the risk of foodborne illnesses. I still cook meals with meat, but I prefer baking as it is less stressful for me. Overall, cooking is a fun and meaningful way for me to 
     connect with my family/friends and try new things.</p>

<%- include('../partials/foot') %>